.author-content {
    display: grid;
    margin-top: 2rem;
    grid-auto-columns: 50%;
}

.author-content > img {
    grid-row: 1;
    grid-column: 1;
    border-radius: 50%;
}

.author-content > p {
    grid-row: 1;
    grid-column: 2;
    padding: 1rem;
    margin-left: 2rem;
}