.post-info {
  display: grid;
}

.post-date {
  grid-row: 1;
  grid-column: 1 / 2;
}

.author-link {
  grid-row: 1;
  grid-column: 2 / 2;
  color: var(--darker-fg-color);
  text-decoration: none;
  text-align: end;
  transition: color 0.2s ease-out;
}

.author-link:hover {
  color: var(--main-fg-color);
}

img {
  width: 100%;
}
