.header {
  padding: 0 2rem 0;
  margin: 0;
  background-color: var(--darker-bg-color);
  width: 100%;
  height: 4rem;
  display: block;
}

.title {
  display: inline;
  align-self: center;
  position: absolute;
  top: 0.15rem;
}

.title > a {
  /* background: rgb(255,178,56);
  background: linear-gradient(90deg, rgba(255,178,56,1) 0%, rgba(212,89,171,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--main-fg-color);
  font-size: 2rem;
  line-height: 3.5rem;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  float: right;
  height: 100%;
}

.nav-list {
  align-self: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 0.7rem;
  align-items: center;
  transition: height 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    content-visibility: hidden;
    overflow: hidden;
    content-visibility: visible;
    display: block;
    position: absolute;
    top: 4rem;
    height: 0;
    left: 0;
    background-color: var(--darker-bg-color);
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .nav-list > li {
    margin-top: 0.725rem;
  }

  .nav-list > li > a {
    line-height: 2.75rem;
    font-size: 1.5rem;
    margin: 0;
  }
}

.nav-menu {
  content-visibility: visible;
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
  margin: 0;
  padding: 0;
  height: 14.5rem;
  background-color: var(--darker-bg-color);
  width: 100%;
}

.nav-item {
  color: var(--darker-fg-color);
  font-size: 0.9rem;
  margin-right: 1.3rem;
  margin-bottom: 0;
  text-decoration: none;
  transition: color 0.2s ease-out;
  display: block;
}

.nav-item:hover {
  color: var(--main-fg-color);
}

.active-nav-item {
  color: var(--main-fg-color);
}
